/* 
h1{
    border: 2px solid lightgray;
    margin: 10px 110px;
    background: lightgray;
    text-align: center;
    padding: 5px;
}
.box1, .box2 
{
    border: 2px solid gray;
    margin: 30px 110px;
    padding: 5px;
}
div h2{
    text-transform: uppercase;
}
/* margine collecpting:- the more will be the  */
/* .box1{
    margin-bottom: 40px;
}
.box2{
    margin-top: 50px;
}
the contents are added one after another in block level, margin and padding are controable, to change in inline we can use, in display width and heights are controable display:inline; */ 
/* the content are added one after another in inline level  margine top and buttom is not controable, to change it in block we can use display: block; in inline width and height doesnot work*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    padding: 0px 30px;
    font-family: sans-serif;
    line-height: 30px;
    word-spacing: 3px;
}
nav{
    /* border: 2px solid crimson; */
    background-color: lightgray;
}

nav ul{
    padding-left: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
nav ul li{
    margin: 15px 20px;
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-transform: capitalize;
}
nav ul li a 
{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}

section 
{
    margin-top: 40px;
}

h2{
    color: #222;
    border-bottom: 1px solid #4444;
}

/* link visited hover active  */
a:link{
    color: chocolate;
}
a:visited{
    color:green;
}
a:hover{
    color:crimson;
}
a:active{
    color:yellow;
}