@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,500&display=swap');
input[type = "text"]{
    color: crimson;
}

input[type = "password"]{
    color: rgb(228, 11, 163);
    /* background-color: lightgreen; */
}

/* to make an overall change in the certain sections or in links we use this method */
a[href *= "https"]
{
    color: burlywood;
}

/* it is links */
/* to make specific change in link color we use this method */
a[href = "https://google.com"]{
    color: rgb(3, 38, 134);
}

/* links visitet hover active */
/* the order must be in same way */
a:link{
    color:crimson;
}
a:visited{
    color: green;
}
a:hover{
    color: gray;
}
a:active{
    color: brown;
}


/* it is for inputs fills  */
input:focus{
    padding: 5px;
    outline-offset: 2px;
    border-radius: 5px;

}
input:required{
    /* it will make changes to all required field only  */
    color: brown;
    font-weight: 700;
}


/* we can use it to insert some value befor teh contain class  */
.welcome::before{
    /* default value of pseudo class is inline-block */
    display: block;
    content: 'welcome to html ';
    color: crimson;
    background: white;
    font-size: larger;
    font-weight: bold;
}
.welcome::after{
    content: 'welcome to html ';
    color: crimson;
    background: white;
    font-size: larger;
    font-weight: bold;
}

button
{
    border: 2px;
    font-size: large;
    border-radius: 5px;
    color: crimson;

}
button:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;
}


/* this is for child in css */
h1:first-child{
    /* it will change the color of all the first child (h1) */
    color: crimson;
}
p:first-of-type
{
    color: darkblue;
    font-weight: 500;
    font-family: sans-serif;
}

/* last child  */
p:last-of-type
{
    color: brown;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
p:last-child{
    color: blueviolet;
    font-weight: bold;
}

/* nth child nth type of pseudo */
p:nth-child(2)
{
    /* this will make change only at 2nd line  */
    color: burlywood;
    font-weight: bolder;
    font-size: large;
}
p:nth-child(2n)
{
    /* this will make change after every 2 line */
    color: darkgreen;
    font-weight: bold;
}
p:nth-of-type(2n+1){
    background-color: violet;
}

/* this is for font size */
p::first-letter
{
    /* make the font of 24 px of every first word of line  */
    font-size: 24px;
}
p::first-line
{
    /* this will change the font of every first line of p tag */
    font-family: 'Times New Roman', Times, serif;
}

/* this is when we select something then its background will be change */
/* (p)(h1) brfor :: there can be anything, if we dont keep anything then it will apply to all */
::selection
{
    background-color: crimson;
    color: white;
    font-size: larger;
}

/* :root or html is a same keyword but root has higher speciacity */
/* :root{
    background: rgb(231, 57, 57);
    color: #fff;
} */