{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Portfolio</title>
</head>
<body>
  <nav class="navigation-bar">
    <div class="container">
      <div class="navbar-content">
        <a class="logo">logo</a>
   
        <div class="navbar-links">
          <a href="{% url 'about' %}" class="nav-links">About</a>
        </div>

        <!-- <div class="navbar-links"> -->
          <!-- <a href="{% url 'about' %}" class="nav-links">Services</a> -->
        <!-- </div> -->

        <!-- <div class="navbar-links"> -->
          <!-- <a href="{% url 'about' %}" class="nav-links">Contact</a> -->
        <!-- </div> -->

      </div>
    </div>

  </nav>

  <main>
    <section class="section-hero">
      <div class="container">
        <div class="hero-content">
          <div class="hero-text">
            <h1 class="hero-title">
              Hi I’m Yogesh Khanal, i'm a Developer.
            </h1>
            <p class="hero-para">My work is mainly focused on third-dimension modeling, texturing and rendering. I like exploring the creatures with a touch of dark surrealism for characters and production.</p>
            <p class="hero-para">
              Now I’m an interactive media design student in Istanbul ⏤ currently freelancing and seeking internship opportunities.s
            </p>
          </div> 
          <div class="hero-img">
              <img src="./img/hero-img.png" alt="">
          </div>

        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="softwares">
          <h5>Softwares</h5>
          <div>
            <p>Figma, Photoshop 
            </p>
            <p>VS Code</p>
          </div>
        </div>
        <div class="skills">
          <h5>Skills</h5>
          <div>
            <p>VS Code, Python, React, GitHub, HTML, CSS</p>
          </div>
        </div>
        <hr class="line">
      </div>
    </section>
    <section>
      <div class="container">
        <div class="contact">
          <h2>I am thrilled to answer to your next project &rarr; </h2>
          <div class="contact-links">
            <a href="mailto:makifkarasu@gmail.com">yogeshkhanal124@gmail.com</a>
            <a href="http://www.msnlabs.com/img/resume-sample.pdf" target="_blank">View Resume</a>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <div class="footer">
        <h6 class="footer-title">Yogesh khanal ⏤ 2021
        </h6>
        <div class="social-links">
          <a href="#" class="social-link">Facebook</a>
          <a href="#" class="social-link">Linkedin</a>
          <a href="#" class="social-link">Twitter</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>