*{
    margin: 0;
    padding: 0;
}
p{
    /* absolute css */

    font-size: 32px;
    /* 96px == 1inch */
    font-size: 1in;
    /* 1inch == 2.4cm */
    font-size: 2.4cm;
    /* 1px == 0.75pt */
    font-size: 12pt;
}

/* relative unite in css */
div
{
    border: 2px solid green;
    padding: 5px;
    /* width: 50%; */
    /* margin: auto; */
}
p
{
    border:2px solid crimson;
    /* here the width is ofully function with div width */
    /* width: 50%; */
    /* margin: auto; */
    /* text-align: center; */
}

/* relative unit (Rem unit) */
html
{
    /* 62.5% is == 10px  percent is use because it is more userfriendly */
    font-size: 62.5%;
}
.text
{
    /* 1rem = 3*px */
    font-size: 2rem;
}

/* relative unit (em unit) */
h1
{
    /* em work under its parents size */
    font-size: 3em;
}

/* fontsize = rem
padding/margine = em
layout = % */

/* view ports (vh wh vmin vmax */
